#stitch1{
    font-weight: 900;
    font-size: 2vw;
    color: #62CFEA;
    margin: auto;
    text-align: center;
}

#stitch2{
    font-weight: 900;
    font-size: 4vw;
    color: #62CFEA;
    margin: auto;
    text-align: center;
}

#stitch3{
    font-weight: 900;
    font-size: 8vw;
    color: #62CFEA;
    margin: auto;
    text-align: center;
}

#stitch4{
    font-weight: 900;
    font-size: 16vw;
    color: #FF9900;
    margin: auto;
    text-align: center;
}

#stitch5{
    font-weight: 900;
    font-size: 8vw;
    color: #D0D0D0;
    margin: auto;
    text-align: center;
}

#stitch6{
    font-weight: 900;
    font-size: 4vw;
    color: #D0D0D0;
    margin: auto;
    text-align: center;
}

#stitch7{
    font-weight: 900;
    font-size: 2vw;
    color: #D0D0D0;
    margin: auto;
    text-align: center;
}

.navbar-text{
    font-weight: bold;
    font-size: 2vw;
    color: #333333;
}

.display-table{
    display: table;
    table-layout: fixed;
}

.display-cell{
    display: table-cell;
    vertical-align: middle;
    float: none;
}

